<form action="" method="post">
    <input type="text" name="nome" placeholder="Name" required><br><br>
    <input type="email" name="email" placeholder="E-mail" required><br><br>
    <input type="radio" id="opt1" name="sexo" value="Feminino"><label for="opt1"></label>Feminino</label><br><br>
    <input type="radio" id="opt2" name="sexo" value="Masculino"><label for="opt2">Masculino</label><br><br>
    <input type="text" name="departamento" placeholder="Departamento" required><br><br>
    <input type="date" name="admissao" placeholder="Data admissão" required><br><br>
    <input type="number" name="salario" placeholder="Salário" required><br><br>
    <input type="text" name="cargo" placeholder="Cargo" required><br><br>
    <input type="number" name="regiao" placeholder="Id região"><br><br><br>
    <input type="submit" value="Inserir funcionário">
</form>